  <body>
    <center>
      <div style="background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;">
        <h2 style="color: #292536; text-align: center">Solicitação de nova senha</h2>
        <p>Sua nova senha é: <b>{{newPassword}}</b>. Após fazer login, você pode altera-la no menu Perfil.</p>
      </div>
    </center>
  </body>
</html>